footer {
  background-color: #b20a0a;
  color: #fff;
}

footer .container .content {
  padding: 40px;
}

footer .container .content .around .social ul li {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}
footer .container .content .around .social ul li i {
  font-size: 15px;
}
footer .last-footer {
  background-color: black;
  color: #fff;
  padding: 20px 15px;
  width: 100% !important;
}
