<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content">
          <div class="location">
            <h2 class="text-uppercase">location</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="around">
            <h2 class="text-uppercase">arounnd the web</h2>
            <div class="social ms-5">
              <ul class="d-flex list-unstyled">
                <li>
                  <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-linkedin"></i>
                </li>
                <li>
                  <i class="fa-solid fa-globe"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content">
          <div class="freelance">
            <h2 class="text-uppercase">about freelancer</h2>
            <p>
              Freelance is a free to use,licensed Bootstrap theme created <br />
              by Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-footer text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
