.main {
  background-color: black;
  padding: 70px;
  width: 100%;
  height: 80vh;
}

.main .title {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content {
  display: flex;
  justify-content: center;
}

.content .before,
.content .after {
  width: 100px;
  height: 5px;
  background-color: #fff;
  position: relative;
  top: 12px;
}

.icon i {
  font-size: 20px;
  color: #fff;
  margin-inline: 15px;
}
